{% extends 'base.html' %}

{% block body %}

<body class="color_form">
<main>
    <div class="container_m">
        <h2 class="form_h2">Sign up</h2>
        <form id="registration-form">
            <label for="username">Name:</label>
            <input type="text" id="username" name="username" class="try" required>

            <label for="email">Email:</label>
            <input type="email" id="email" name="email" class="try" required>

            <label for="password">Password:</label>
            <input type="password" id="password" name="password" class="try" required>

            <label for="confirm-password">Repeat your password:</label>
            <input type="password" id="confirm-password" name="confirm-password" class="try" required>

            <button type="submit" class="sub">Sign up</button>
        </form>
    </div>
</main>
</body>


{% endblock %}