{% extends 'base.html' %}

{% block body %}

   <div class="navigator_fon">
        <article class="navigator2">
            <div class="navigator_text">
                <h2 class="h2_map">Merengue roll</h2>
                <p class="p_map">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ab nostrum quaerat minima quod id corporis! Assumenda neque quas vitae fuga eaque mollitia quisquam id optio ut nulla. Aliquid, vitae unde.</p>
            </div>
            <div class="navigator_img2">
                <img src="{{url_for('static', filename='images/desserts/merenga.jpg')}}" alt="" class="pancho_img">
            </div>
                <!-- <div class="navigator_img2">
                    <img src="images/desserts/b_milk_cut.jpg" alt="" class="pancho_img">
                </div> -->

        </article>
    </div>

{% endblock %}